# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6 
print(number)

6

##### Assinging float

In [2]:
numberfloat = 2.3
print(numberfloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 1
num2 = 2.1
result = num1 + num2
print(result)

3.1

##### Subtraction

In [4]:
result_dif = num1 - num2
print(result_dif)

-1.1

##### Multiplication

In [ ]:
result_mul = num1 * num2
print(result_mul)

##### Division

In [7]:
result_div = num2 / num1
print(result_div)

2.1

##### Floor Division

In [8]:
result_floor = num2 // num1
print(result_floor)

2.0

##### Modulo

In [9]:
result_mod= 10 % 3
print(result_mod)

1

##### Exponential

In [10]:
sqaure = 4 ** 2
print(sqaure)

16

### String Input-Output

##### String Assignment

In [1]:
name = "Juan"
print(name)

Juan

##### print() <br>
<p>Don't forget about end=' '</p>

In [17]:
print("This is my first name:", name)
print("Full name: ", name, end=" Howard")

This is my first name: Juan
Full name:  Juan Howard

##### String Concatenation

In [20]:
first_name = "John"
last_name= "smith"
full_name = first_name + " " + last_name
print(full_name)
full_name += " Jr"
print(full_name)

John smith
John smith Jr

##### Type Conversion

In [ ]:
# number = "32"
change_type_num = int(number)
change_type_num += 5
print(change_type_num)

##### input()

In [ ]:
# Input() will alwars return a sting!!!
# name = input("What is your name? ")
# print(name)
age = int(input("How old are you? "))
new_age = age + 1 
print(new_age)

##### format()

In [12]:
# age = input("What is your age? ")
# name = input("What is your name? ")
# result_string = "You are {}, your are {} years old and your are getting wiser".format(name,age)
# print(result_string)
age = 9
name = "Bob"
Reuslt_again = f"{age} is a great time in life, {name}"
print(Reuslt_again)

9 is a great time in life, Bob

##### Old Way (python 2)

In [17]:
result_string2 = "You are %s and you look great for your age" %age
print(result_string2)

You are 9 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [22]:
color = input("What color is your car? ")
year = input("What is the year of your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")
result = f"You drive a {color} {year} {make }{model}"
print(result)

What color is your car? Black
What is the year of your car? 2020
What is the make of your car? kia
What is the model of your car? bus
You drive a Black2020kia bus

### If Statements

In [28]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

#if (things that is true or false) is true:
    #do this stuff
#this part will happen
# not equal = (!=)

num1 = 10
num2 = 10
if  num1 == num2:
    print("Equal values")
else:
    print("Not equael")

if num2> num1: 
    print("Num2 is greater than")
elif num2< num1:
    print("NUm2 is less than")
else: print("They are equal")

Equal values
They are equal

##### 'is' keyword

In [31]:
# use 'is' whenchecking for dame or similar objuect, not same values
num3 = 55
num4 = num3
if num3 is num4:
    print("This is the exact number")

This is the exact number

##### 'in' keyword

In [35]:
char_name = "max payne"
if "max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [41]:
bill_boy = "kid"
if "q" not in bill_boy:
    print("not here")

not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [47]:
name = input("What is your name? ")
if "p" in name: 
    print("There is a 'p' in this persons name")
else:
    print("There is not a 'p' in this persons name")

What is your name? Pepper pig
There is a 'p' in this persons name

## Using 'and'/'or' with If Statements

In [52]:
first_name = "Max"
age = 10
# if first_name == "smith":
#     print("This name is Smith")
# elif first_name != "Max" :
#     print("This name is not Max")
# else:
#     print("The name is Max")

if first_name == "Max" and age == 10:
    print("I am Max and I am 10")
elif first_name == "Max" or age == 10:
    print("I am either Max or I am 10")

I am Max and I am 10

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [61]:
#for item in iterable_thing:
    #do some stuff 
name = "Juan Howard"
for letter in range(len(name)):
    print(name)

Juan Howard
Juan Howard
Juan Howard
Juan Howard
Juan Howard
Juan Howard
Juan Howard
Juan Howard
Juan Howard
Juan Howard
Juan Howard

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [68]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [73]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [74]:
for i in name:
    pass
# i will come back and finish this part later

##### Double For Loops

In [78]:
for elephant in range(5):
    for giraffe in range(5):
        print("i = ", elephant,"j = ", giraffe)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [ ]:
#while condition statement(somethig that is true or false)
    #do some stuff repeatedly
num = 0 
while True: 
    if num>=10:
        break 
    print(num)
    num += 1
while num < 10:
    print(num)
    num += 1

##### Looping 'While True'

In [1]:
game_running = True
score = 0
while game_running:
    user_input = input("say some stuff ")
    if user_input == "quit":
        game_running = False
    print(user_input)
    score += 1 
    print(f"Score: {score}")

say some stuff

Score: 1
say some stuff t
t
Score: 2
say some stuff quit
quit
Score: 3

##### While & For Loops Used Together

In [4]:
num = 0 
while num < 5:
    print("\n While Loop Interation: " + str(num))
    for i in range(2):
        print("For Loop Intereation: " + str(i))
    num += 1

 While Loop Interation: 0
For Loop Intereation: 0
For Loop Intereation: 1

 While Loop Interation: 1
For Loop Intereation: 0
For Loop Intereation: 1

 While Loop Interation: 2
For Loop Intereation: 0
For Loop Intereation: 1

 While Loop Interation: 3
For Loop Intereation: 0
For Loop Intereation: 1

 While Loop Interation: 4
For Loop Intereation: 0
For Loop Intereation: 1

### Built-In Functions

##### range()

In [5]:
# range(start, stop, step)
# Defaults: start= 0, stop IS REQUIRED, step=1
for i in range(2, 20, 3):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [7]:
name = "Max"
length = len(name)
print(length)

3

help()

In [8]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [10]:
print(isinstance(4.5,int))
if isinstance(4.5,float):
    print("This number is a float")

False
This number is a float

##### abs()

In [12]:
#/ 5 /
print(abs(-5))

5

### Try and Except

In [20]:
# Use this whenever you expect to encounter a bug so that the error doesnt casuse the program to stop 
# use this to log out graceful and informative error message
# try: 
#     number_test = 0 
#     input_num = int(input("Guess a number "))
#     if input_num != number_test:
#         input_num = input_num + number_test
#         print("Your number is: " + str(input_num))
# except: number_test = 0 
input_num = int(input("Guess a number "))
if input_num != number_test:
    input_num = input_num + number_test
    print("Your number is: " + str(input_num))

#     print("That did not work - ERROR: Please change your input")

Guess a number five

ValueError: invalid literal for int() with base 10: 'five'

### Lists

##### Declaring Lists

In [23]:
my_list = [] # empty list

name = ["Max","Cindy", "Kathy", 7, "Nate"]
print(name)

['Max', 'Cindy', 'Kathy', 7, 'Nate']

##### Indexing a List

In [33]:
#Syntax: List_name(start:stop:step)

# SIngle Index
print(name[0])

#Print the last Value 
print({name[-1]})

#Print starting at 1 going to the end 
print(name[1:])

#Print starting at beginning of the list unit 3
print(name[:3])

#print from one to index to another 
print(name[2:4])

#print starting at index one going up by two
print(name[1 ::2])
#print starting at the end and going down 
print(name[::-1])

Max
{'Jeff'}
['Cindy', 'Kathy', 7, 'Nate', 'Jeff']
['Max', 'Cindy', 'Kathy']
['Kathy', 7]
['Cindy', 7, 'Jeff']
['Jeff', 'Nate', 7, 'Kathy', 'Cindy', 'Max']

##### .append()

In [34]:
# will not change just make a copy
name.append("Bob")
print(name)

['Max', 'Cindy', 'Kathy', 7, 'Nate', 'Jeff', 'Bob']

##### .insert()

In [55]:
name.insert(3,'Gabby',)
print(name)

['Max', 'Sam', 'John', 'Gabby', ['Sally', 'Sue', 'Tameka']]

##### .pop()

In [38]:
#default is the last value if no parameter is giving 
#pop returns the element that was removed

# my_name = name.pop()
# print(my_name)
print(name)

Nate
['Max', 'Cindy', 'Kathy', 'Gabby', 7]


##### .remove()

In [44]:
# Value to be removed, not the index
while 'Cindy' in name:
    name.remove('Cindy')
print(name)

['Max', 'Kathy', 'Gabby', 'Gabby', 7]

##### del()

In [45]:
# Be carefulm it cause indexing errors 
#remove by index

del(name[1])
print(name)

['Max', 'Gabby', 'Gabby', 7]

##### Concatenating Two Lists

In [47]:
first_list = [0,1,2]
second_list = [3,4,5]
big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [51]:
name = ['Max', 'Sam', 'John',['Sally','Sue','Tameka']]
print(name)
print(name[3][1])

['Max', 'Sam', 'John', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [54]:
#two ways to loop through a list, one is by index,the other is by using the 'in' keyword
# with a for loop using the index

for i in range(len(name)):
    print(name[i])

Max
Sam
John
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [94]:
for i in range(2,1000,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500
502
504
506
508
510
512
514
516
518
520
522
524
526
528
530
532
534
536
538
540
542
544
546
548
550
552
554
556
558
560
562
564
566
568
570
572
574
576
578
580
582
584
586
588
590
592
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
666
668
670
672
674
676
678
680
682
684
686
688
690
692
694
696
698
700
702
704
706
708
710
712
714
716
718
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776
778
780
782
784
786
788
790
792
794
796
798
800
802
804
806
808
810
812
814
816
818
820
822
824
826
828
830
832
834
836
838
840
842
844
846
848
850
852
854
856
858
860
862
864
866
868
870
872
874
876
878
880
882
884
886
888
890
892
894
896
898
900
902
904
906
908
910
912
914
916
918
920
922
924
926
928
930
932
934
936
938
940
942
944
946
948
950
952
954
956
958
960
962
964
966
968
970
972
974
976
978
980
982
984
986
988
990
992
994
996
998

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [96]:
age = int(input("How old are you? "))
if age < 18 :
    print("Kid")
elif age >= 18-65:
    print("Adult")
else: 
    print("Seniors")

How old are you? 70
Adult